* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: #47398d;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
  cursor: pointer;
  border: none;
}
